<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.transfer.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.transfer.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="uniqueId" jdbcType="VARCHAR" property="uniqueid" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="departmentId" jdbcType="VARCHAR" property="departmentid" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="newspaceuserid" jdbcType="VARCHAR" property="newspaceuserid" />
    <result column="userRole_id" jdbcType="VARCHAR" property="userroleId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="paypassword" jdbcType="VARCHAR" property="paypassword" />
    <result column="isClosed" jdbcType="INTEGER" property="isclosed" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="userNameAlias" jdbcType="VARCHAR" property="usernamealias" />
    <result column="userNo" jdbcType="VARCHAR" property="userno" />
    <result column="isManager" jdbcType="INTEGER" property="ismanager" />
    <result column="officeTel" jdbcType="VARCHAR" property="officetel" />
    <result column="officeFax" jdbcType="VARCHAR" property="officefax" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="orderIndex" jdbcType="INTEGER" property="orderindex" />
    <result column="userstatus" jdbcType="INTEGER" property="userstatus" />
    <result column="workStatus" jdbcType="VARCHAR" property="workstatus" />
    <result column="positionName" jdbcType="VARCHAR" property="positionname" />
    <result column="preSpell" jdbcType="VARCHAR" property="prespell" />
    <result column="spell" jdbcType="VARCHAR" property="spell" />
    <result column="head_image" jdbcType="VARCHAR" property="headImage" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updatedate" />
    <result column="securityLevel" jdbcType="INTEGER" property="securitylevel" />
    <result column="userSummary" jdbcType="VARCHAR" property="usersummary" />
    <result column="nameI18N" jdbcType="VARCHAR" property="namei18n" />
    <result column="modifyTime" jdbcType="TIMESTAMP" property="modifytime" />
  </resultMap>
</mapper>